---
layout: base.liquid
---

<header class="site-header">
  <img src="/assets/caara-logo-transparent.png" alt="CAARA logo" class="site-logo">
  <h1>Cape Ann Amateur Radio Association</h1>
</header>

<div class="page-title">
  <h2>{{ title }}</h2>
</div>

<section id="main">
{{ content }}
</section>
