---
title: Calendar
tags: page
weight: 25
---

<p>If you would like to have your event placed on the calendar please email it
to <a href="mailto:events@caara.net">events@caara.net</a>. Include the event
name, date(s), time-of-day, location, sponsors, website link, brochures, and
anything else you think would be of help.</p>
