---
title: Events
tags: page
weight: 30
---

<p>If you would like to have your event placed on the calendar please email it
to <a href="mailto:events@caara.net">events@caara.net</a>. Include the event
name, date(s), time-of-day, location, sponsors, website link, brochures, and
anything else you think would be of help.</p>

<iframe class="google-calendar" src="https://calendar.google.com/calendar/embed?showTz=0&showTitle=0&showCalendars=0&src=c_64336557218bce0897ab063a0dbbfcda1326d4ed7dfcabc251fabba184f0d82a%40group.calendar.google.com&ctz=America%2FNew_York"></iframe>

