---
title: Board of Directors
tags: about
---

<h2>Officers</h2>
<table class="striped">
  <tr>
    <td>Brandon Hockle</td>
    <td>{% callsign "NQ1W" %}</td>
    <td>President</td>
  </tr>
  <tr>
    <td>Larry Beaulieu</td>
    <td>{% callsign "AJ1Z" %}</td>
    <td>Vice President</td>
  </tr>
  <tr>
    <td>Cutter Herlihy</td>
    <td>{% callsign "KC1JKJ" %}</td>
    <td>Clerk</td>
  </tr>
  <tr>
    <td>Jon Cunningham</td>
    <td>{% callsign "K1TP" %}</td>
    <td>Treasurer</td>
  </tr>
  <tr>
    <td>Lawrence Swift</td>
    <td>{% callsign "W1MDK" %}</td>
    <td>Treasurer</td>
  </tr>
</table>

<h2>Directors</h2>
<table class="striped">
  <tr>
    <td>Jake Hurd</td>
    <td>{% callsign "W1LDL" %}</td>
  </tr>
  <tr>
    <td>Peter Leighton</td>
    <td>{% callsign "KC1PCT" %}</td>
  </tr>
  <tr>
    <td>Brian Lloyd</td>
    <td>{% callsign "KC1SOO" %}</td>
  </tr>
  <tr>
    <td>Kevin Lyons</td>
    <td>{% callsign "K1KL" %}</td>
  </tr>
  <tr>
    <td>Bill Poulin</td>
    <td>{% callsign "WZ1L" %}</td>
  </tr>
  <tr>
    <td>Thomas Stephenson</td>
    <td>{% callsign "AA1TS" %}</td>
  </tr>
  <tr>
    <td>Neil Weisenfeld</td>
    <td>{% callsign "KC1MYZ" %}</td>
  </tr>
</table>
