---
title: Constitution of the Cape Ann Amateur Radio Association
tags: about
---

<div id="content" class="constitution">
<section class="constitution">
The Constitution of the Cape Ann Amateur Radio Association, Inc. consists of three parts, titled and described as follows:
</section>

<h3 class="upper"><a href="#part1" title="Click for PART1. ARTICLES OF ORGANIZATION">PART1. ARTICLES OF ORGANIZATION</a></h3>
<p>The initial Articles of Organization of this corporation were filed on Feb. 16, 1977, then modified to comply with I.R.C. Section 501(c)(3) on Aug. 3, 1987. <span class="upper">CAARA</span> is listed with the IRS as exempt from Federal Income Tax under I.R.C. Code 501(c)(3) and to be a publicly supported organization described in Section 509(a)(2).

<h3 class="upper"><a href="#part2" title="Click for PART2. BYLAWS">PART2. BYLAWS</a></h3>
<p>The Bylaws establish the basic rules for the government of the corporation. Using the initial version as a basis the Bylaws have been revised as needed
to reflect the operation of the Association as it has developed.

<h3 class="upper"><a href="#part3" title="Click for PART3. STANDING RULES">PART3. STANDING RULES</a></h3>
<p>Certain of the Bylaws provide degrees of latitude and the Association has adopted from time to time, policies pertaining to such opportunities for latitude.

<div class="column">
<div class="col">
September 15, 2010<br>
<span class="upper">PART 1</span>
</div>  <!--  End col 1 -->

<div class="col">
<span class="upper">FEDERAL IDENTIFICATION</span> No.<br>
04-2612032
</div>  <!--  End col  2 -->
</div><!-- column -->

<section class="center constitution">
<br><span class="unifrak">The Commonwealth of Massachusetts</span><br>
<span class="upper">OFFICE OF THE SECRETARY OF STATE<br>
ONE ASHBURTON PLACE, BOSTON, MA 02108</span><br>
Michael Joseph Connolly, <em>Secretary</em>
<p>&nbsp;</section>


<h2 id="part1" class="upper newpage">PART 1. ARTICLES OF ORGANIZATION</h2>
<h3 class="upper">RESTATED ARTICLES OF ORGANIZATION</h3>
<p>General Laws, Chapter 180, Section 7
<p>1. The name by which the corporation shall be known is:
<p>Cape Ann Amateur Radio Association, Inc.
<p>2. The purposes for which the corporation is formed are as follows:
<p>This corporation is organized within the meaning of Section 501(c)(3) of the Internal Revenue Code of 1954 as amended and its purpose is to promote, assist, aid and educate amateur radio operators in the community, to raise the standards of amateur radio operators, so that they may better assist state and local officials.
<p>In furtherance of the foregoing charitable and educational purposes, the corporation is organized to:

<div class="indent">
<p>(A) Solicit and accept by subscription, gift, grant, donation, bequest, devise or otherwise, money and property of any kind from any member of the general public and from any firm, association, trust, foundation or corporation, including any municipal, state or national government or other governmental unit or instrumentality thereof for the above purposes.
<p>(B) Aid, work with and participate in the activities of other organizations, individuals and public entities engaged in similar purposes; and to be a partner in any enterprise which the corporation would have the power to conduct by itself.
<p>(C) Provide facilities, personnel and funds in order to achieve, and to assist public agencies and other private nonprofit agencies and combinations thereof to achieve, the purposes of the corporation.
<p>(D) Make grants of all or part of the funds and property of the corporation in furtherance of the charitable and educational purposes of the corporation.
</div>

<p>3. If the corporation has more than one (1) class of members, the designation of such classes, the manner of election or appointment, the duration of membership and the qualification and rights, including voting rights, of the members of each class are as follows: <em>Not applicable- there is only one (1) class of members</em>.
<p>4. Other lawful provisions, if any, for the conduct and regulation of the business and affairs of the corporation, for its voluntary dissolution, or for limiting, defining, or regulating the powers of the corporation, or of its directors or members, or of any class of members, are as follows:
<p><strong class="upper">FIRST:</strong> The Corporation is organized exclusively for charitable and educational purposes and shall not be operated for profit. No part of the net earnings of the Corporation shall inure to the benefit of, or be distributable to, any member, trustee or officer of the Corporation, or any other private person. However, the Corporation shall be authorized and empowered to pay reasonable compensation for services rendered and to make payments and distributions in furtherance of one or more of its purposes. No substantial part of the activities of the Corporation shall be the carrying on of propaganda, or otherwise attempting to influence legislation, and the Corporation shall not participate in, or intervene in (including the publication or distribution of statements) any political campaign on behalf of any candidate for public office.
<p><strong class="upper">SECOND:</strong> The Corporation shall have any and all additional powers necessary or incidental to the foregoing powers but not inconsistent with the powers of a corporation incorporated not for profit under the provisions of Chapter 180 of the General Laws of The Commonwealth of Massachusetts, including but not limited to the following:

<div class="indent">
<p>(A) The Corporation may apply for and receive from any source or sources outright, in trust or otherwise, by gift, devise, bequest or otherwise, and hold cash, securities and real and personal property to the extent from time to time authorized by law.
<p>(B) The Corporation may retain, may buy or otherwise acquire, may renovate, improve, sell, lease, convey or otherwise dispose of, and may invest and reinvest its assets in, any property whether real or personal, within or without Massachusetts including without limitation any stock, obligations, or other securities of any corporation, association or business trust, investment trust or investment company, provided, that none of the assets of the Corporation shall be given or loaned directly or indirectly to any Director or Member.
<p>(C) The Corporation may work and cooperate with and through other entities, groups, organizations, officials, agencies, public or private, and individuals concerned with the purpose of this Corporation.
<p>(D) The corporation may borrow or lend money for any of the purposes of the Corporation and from time to time, without limits as to amount, to draw, make, accept, endorse, execute, hold and issue promissory notes, drafts, bills of exchange, warrants, bonds, debentures and other negotiable or non negotiable instruments and evidences of indebtedness; to secure the payment of any thereof and of the interest thereon by mortgage upon a pledge, conveyance or assignment in trust of the whole or any part of the property of the Corporation, whether at the time owned or thereafter acquired, and to sell, pledge or otherwise dispose of such bonds or other obligations for its corporate purposes.
<p>(E) The Corporation may make contracts, incur liabilities, borrow money, make and endorse bonds, notes and other evidences of indebtedness, and mortgage, pledge or create any security interest in any real or personal property, all on such terms as its Board of Directors may determine.
<p>(F) The Corporation may raise funds for the furtherance of the Corporation's activities by solicitation and receipt of gifts, bequests, sponsorships, grants and membership dues and fees, and in any other manner allowed by the By-Laws of the Corporation and permitted by the laws of the Commonwealth of Massachusetts and consistent with the provisions of section 501(c)(3) of the Internal Revenue Code (or the corresponding provision of any future United States Internal Revenue law) and the Treasury Regulations promulgated there under.
<p>(G) The Corporation may make payments and distributions in furtherance of one or more of its purposes to any organization (1) which is exempt from Federal income tax under section 501(c)(3) of the Internal Revenue Code of 1954 (or the corresponding provision of any future United States Internal Revenue law), (2) to which contributions are deductible under section 170(c)(2) of said Code (or the corresponding provision of any future United States Internal Revenue law). The Corporation may also make contributions to carry out the purposes of this Corporation to the Commonwealth of Massachusetts, any political subdivision of the foregoing, or to the United States but only for exclusively public purposes.
<p>(H) The Corporation may carry out all or any part of the foregoing objects as principal, factor, agent, or otherwise, either alone or in conjunction with any person, firm, trust, association or corporation, and in any part of the world; and in carrying out its purposes and for the purpose of attaining or furthering any of its objects, to make and perform contracts of any kind and description, and to do anything and everything necessary, suitable, convenient or proper for the accomplishment of any of the purposes or the attainment of any one or more of the objects herein enumerated or incidental to the power herein provided, or which shall at any time appear conducive to or expedient for the attainment of any of the objects hereinbefore enumerated.
<p>(I) In general, the Corporation may carry on any other activities in connection with any of the foregoing, and have and exercise all the powers conferred by the laws of Massachusetts upon corporations not for profit formed under the General Laws of the Commonwealth of Massachusetts as now in force and acts amendatory thereof and supplemental thereof, and to do any or all of the things hereinbefore set forth to the same extent as natural persons might or could do.
<p>(J) The foregoing specified objects and purposes shall be subject always to the provisions set forth below, the enumeration of which shall not, however, be construed to exclude or limit by reference any objects or purposes which this Corporation is empowered or exercise:

<div class="indent">
<p>(i) The Corporation shall have no capital stock, and its business, objects and purpose shall not be conducted directly or indirectly for profit.
<p>(ii) It shall not:

<div class="indent">
<p>(a) Engage, otherwise than as an insubstantial part of its activities, in activities which are not in furtherance of one or more of the educational and charitable purposes for which it has been formed.
<p>(b) Subject the private property of the members to the payment of corporate debts to any extent whatever.
<p>(c) Notwithstanding any other provision of these Articles, carry on any other activities not permitted to be carried on by an organization exempt from Federal income tax under Section 501(c)(3) of the Internal Revenue Code of 1954 (or the corresponding provision of any future United States Internal Revenue law) and contributions to which are deductible under Section 170(c)(2) of said Code (or the corresponding provision of any future United States Internal Revenue law).
</div>
</div>

<p>(K) If any term or provision of these Articles of Organization is contrary to law or otherwise invalid or unenforceable, it shall be deemed stricken here from and the remaining terms and provisions shall not be affected thereby, but each such remaining term and provision shall be given effect to the fullest extent permitted by law.
<p>(L) Except as otherwise required by law, these Articles of Organization may be amended from time to time by the affirmative vote of at least two-thirds (<b>&#8532;</b>) of the members present or submitting a valid proxy at an annual meeting or a Special Meeting of Members called for the purpose. However, no such amendment shall authorize or permit the Corporation to carry on any activity prohibited by the terms of paragraph (J) (ii) (c) hereof.
<p>(M) The Corporation may at any time merge or consolidate with any other corporation organized for charitable or educational purposes if such corporation is exempt from Federal income tax under section 501(c)(3) of the Internal Revenue Code of 1954 (or the corresponding provision of any future United States Internal Revenue law).
<p>(N) Subject to applicable provisions of law, the Corporation may, at any time, dissolve by the affirmative vote of at least two-thirds (<b>&#8532;</b>) of the membership present or submitting a valid proxy at an annual meeting or a Special Meeting of Members called for the purpose, provided that upon such dissolution all the assets of the Corporation (after paying or making provision for the payment of all debts and other obligations) shall be contributed to a corporation or entity or corporations or entities, organized and operated exclusively for charitable, educational or scientific purposes as shall at that time quality as an exempt organization or organizations under section 501(c)(3) of the Internal Revenue Code of the United States Internal revenue law) as the Board of Trustees shall determine.
</div>

<section class="page center constitution">
<span class="unifrak">The Commonwealth of Massachusetts</span><br>
<span class="upper">RESTATED ARTICLES OF THE ORGANIZATION</span><br>
(General Laws, Chapter 180, Section 7)
<p>I hereby approve the within restated articles of organization and, the filing fee in the amount of $30.00 having been paid, said articles are deemed to have been filed with me this date.
<p><span class="upper">MICHAEL JOSEPH CONNOLLY</span><br>
Secretary of the Commonwealth<br>
State House, Boston, Massachusetts
<p>&nbsp;</section>

<h2 id="part2" class="upper newpage">PART 2. BYLAWS</h2>
<h3 class="upper">SECTION 1. NAME, PURPOSE, LOCATION, CORPORATE SEAL, AND FISCAL YEAR</h3>

<section class="page">
<h3 id="section1.1">1.1 Name and Purposes</h3>
<p>The name and purposes of the Corporation shall be as set forth in the Articles of Organization.
</section>

<section class="page">
<h3 id="section1.2">1.2 Location</h3>
<p>The Principal Office of the Corporation in the Commonwealth of Massachusetts shall initially be located at a place set forth in the Articles of Organization of the Corporation. The Board of Directors may change the location of the Principal Office in the Commonwealth of Massachusetts effective upon filing a certificate with the Secretary of the Commonwealth.
</section>

<section class="page">
<h3 id="section1.3">1.3 Corporate Seal</h3>
<p>The Board of Directors may adopt and alter the Seal of the Corporation.
</section>

<section class="page">
<h3 id="section1.4">1.4 Fiscal Year</h3>
<p>The Fiscal Year of the Corporation shall, unless otherwise decided by the Board of Directors, end on December 31<sup>st</sup> of each year.
</section>

<section class="page">
<h3 id="section2" class="upper">SECTION 2. MEMBERS</h3>

<h3 id="section2.1">2.1 Types of Membership</h3>
<p>There shall be only one (1) class of membership: full voting members of the organization. Members may, however, be assigned different rates of Annual Dues. The Board of Directors may add or delete dues categories and/or revise the Annual Dues, subject to the approval of a majority of the Members present or submitting a valid proxy at an Annual Meeting or a Special Meeting of Members called for the purpose.
</section>

<section class="page">
<h3 id="section2.2">2.2 Qualifications for Membership</h3>
<p>Applicants for membership should have an interest in amateur radio as evidenced by a valid, current amateur radio license. The Board of Directors may nominate for membership individuals who do not currently have a license, if they have manifested to the Board by their actions an enduring interest in and dedication to amateur radio and/or the Cape Ann Amateur Radio Association.
</section>

<section class="page">
<h3 id="section2.3">2.3 Admission to Membership</h3>
<p>Application for admission to Membership shall be in a format provided by the Association. Action on the application and notification of the applicant shall be as specified in the <a href="#part3" title="Click for PART3. STANDING RULES">Standing Rules</a>. No person shall be denied membership in the Association on the basis of race, nationality, color of skin, sex, age, religion, place of residence, or political affiliation if otherwise qualified for membership in accordance with these Bylaws.
</section>

<section class="page">
<h3 id="section2.4">2.4 Membership Year</h3>
<p>The Membership Year shall commence on January 1<sup>st</sup> of each year and end on the following December 31<sup>st</sup>.
</section>

<section class="page">
<h3 id="section2.5">2.5 Tenure</h3>
<p>Members who allow their amateur radio license to lapse, be revoked by the FCC for cause, or who fail to pay their dues when required may be invited by the Board of Directors to resign from the Association. Should he or she fail to resign, action may be taken at the next Board of Directors meeting, under the leadership of the President, to drop the member from <span class="upper">CAARA</span> membership. Members dropped from Membership for failure to pay Dues or Assessments, may not rejoin except by filing a new written application form and paying the required dues.
</section>

<section class="page">
<h3 id="section2.6">2.6 Powers and Rights of Members</h3>
<p>In addition to the right to elect Officers and Directors as provided in Sections 4.4 and 4.20 and such other powers and rights vested in them by law, the Articles of Organization, or these Bylaws, the Members shall have such other powers and rights as the Board of Directors may designate.
</section>

<section class="page">
<h3 id="section2.7">2.7 Removal from Membership</h3>
<p>Any Member may be suspended or removed for any reason by vote of a majority of the members present or submitting a valid proxy at an Annual Meeting or a Special Meeting of Members called for the purpose, after reasonable notice and the opportunity to be heard.
<p>Any Member who fails to pay his Dues or Assessments within the time and grace periods specified in the <a href="#section3" title="Click for PART3. STANDING RULES">Standing Rules</a> (after a reasonable effort to notify them of such lapse), may be removed from Membership by a vote of the majority of the members of the Board of Directors, unless that Member pays the amount owed or presents in timely fashion a request acceptable to that Board, requesting a delay or waiver of payment.
</section>

<section class="page">
<h3 id="section2.8">2.8 Resignation</h3>
<p>A member may resign by delivering his written resignation to the President, Treasurer, or Clerk of the Corporation in person, or mailed to the mailing address of the Corporation. Such resignation shall be effective upon receipt (unless specified to be effective at some other time), and acceptance thereof shall not be necessary to make it effective.
</section>

<section class="page">
<h3 id="section2.9">2.9 Number of Directors</h3>
<p>The Board of Directors from time to time, with the approval of the Members, may fix the number of Officers and Board of Directors Memberships, and the procedure for filling vacancies when they occur.
</section>

<section class="page">
<h3 class="upper">SECTION 3. MEETINGS OF MEMBERS</h3>

<h3 id="section3.1">3.1 Meeting Place</h3>
<p>All Meetings of Members shall be held at the Principal Office of the Corporation unless another location is voted by the Board of Directors.
</section>

<section class="page">
<h3 id="section3.2">3.2 Annual Meeting</h3>
<p>The Annual Meeting of Members shall be held at 12:00 PM on the second Saturday in September at a location conforming to Section 3.1. Notice of any change in the date, time or place of the Annual Meeting shall be given to all Members at least twenty (20) days before the new date fixed for such meeting.
</section>

<section class="page">
<h3 id="section3.3">3.3 Regular Meetings</h3>
<p>Regular Meetings of Members shall be held at locations conforming to Section 3.1, and at such dates and times, as the Board of Directors shall decide. No action requiring a vote of the Members shall be taken at a Regular Meeting other than a vote to adjourn or a request for a special meeting or a vote of the membership.
</section>

<section class="page">
<h3 id="section3.4">3.4 Special Meetings</h3>
<p>Special Meetings of Members shall be held at locations conforming to Sections 3.1 and 3.5, and at such date and times as the calling authority may require. Special Meetings may be requested by the President, the Board of Directors, or by the majority of members present at a regular meeting and shall be called by the Clerk (or in case of death, absence, incapacity, or refusal of the Clerk, by any other Officer). Special Meetings may be substituted for Regular Meetings or the Annual Meeting when actions requiring votes of the Members are necessary.
</section>

<section class="page">
<h3 id="section3.5">3.5 Call and Notice of Meeting</h3>
<p>No call or notice is required for an Annual Meeting of Members held at the Principal Office of the Corporation, on the date and at the time specified in Section 3.2. Notice shall be given to all Members if there is any change in location, date or time from that specified. Should the Corporation distribute a Newsletter, or other news organ, published and sent (or electronically delivered) to all members, a notice of such changes carried in such news organ will be sufficient if mailed or transmitted to all Members at least twenty (20) days before the new date. If a suitable news organ is not available then all Members shall be notified in writing by first class mail, e-mail, other verifiable electronic means, or by a public notice in the local newspaper.
<p>Each Member shall be notified of all Special Meetings of Members giving date, location, time and business to be conducted at the meeting, either by a timely and appropriate notice by a public notice in the local newspapers, in a Newsletter, by first class mail, e-mail, or other verifiable electronic means, any of such to be addressed to him at his usual or last known business or residence physical or electronic address and mailed at least six (6) days before the meeting, or to give notice to him in person or by telephone at least twenty-four (24) hours before the meeting.
<p>All Members shall be notified of Regular Meetings of Members by timely and appropriate notice via posted notices, the Internet, in a newspaper, newsletter, otherwise by mail, e-mail, or other verifiable electronic means as frequently as the Board of Directors shall decide.
</section>

<section class="page">
<h3 id="section3.6">3.6 Quorum</h3>
<p>At any Annual or Special Meeting of Members the presence of at least 10 Members in good standing, who must include in their number at least one-half (<b>&frac12;</b>) the members of the Board of Directors, shall constitute a quorum. Any meeting may be adjourned to such date or dates not more than ninety (90) days after the first session of the meeting by a majority of the votes cast upon the question, whether or not a quorum is present, and the meeting may be held as adjourned without further notice.
</section>

<section class="page">
<h3 id="section3.7">3.7 Waiver of Notice</h3>
<p>Whenever notice of a meeting is required, such notice need not be given to any Member if a written waiver of notice, executed by him (or his attorney thereunto authorized) before or after the meeting is filed with the records of the meeting. A waiver of notice need not specify the purposes of the meeting unless such purposes were required to be specified in the notice of such meeting.
</section>

<section class="page">
<h3 id="section3.8">3.8 Action by Vote</h3>
<p>Each Member shall have one vote. When a quorum is present at any meeting, a majority of the votes properly cast by Members present in person or duly represented by proxy, personal or written, shall decide any question, including election to any office, unless otherwise provided by law, the Articles of Organization, or these Bylaws.
</section>

<section class="page">
<h3 id="section3.9">3.9 Action by Writing</h3>
<p>Any action required or permitted to be taken at any Meeting of Members including Special Meetings of Members may be taken without a meeting if two-thirds (<b>&#8532;</b>) of all Members in good standing consent to the action in writing either by mail or by electronic mail or other verifiable electronic means.
</section>

<section class="page">
<h3 id="section3.10">3.10 Proxies</h3>
<p>Members in good standing may vote either in person, by a written proxy document, or nominate a human proxy by an instrument dated not more than six (6) months before the meeting named therein, which proxies shall be filed before being voted with the Clerk or other person responsible for recording the proceedings of the meeting.
</section>

<section class="page">
<h3 class="upper">SECTION 4. BOARD OF DIRECTORS</h3>

<h3 id="section4.1">4.1 Composition of Board</h3>
<p>The Board of Directors shall be composed of the elected Officers and elected Directors of the Corporation, plus any appointed Directors of the Corporation, as hereinafter provided. The Officers shall have all the powers of Directors.
</section>

<section class="page">
<h3 id="section4.2">4.2 Powers of the Board of Directors</h3>
<p>The affairs of the Corporation shall be managed by the Board of Directors who shall have and may exercise all the powers of the Corporation, except those powers reserved to the Members by law, the Articles of Organization, or these Bylaws.
</section>

<section class="page">
<h3 id="section4.3">4.3 Officer's Titles and Qualifications</h3>
<p>The Officers of the Corporation shall be a President, a Vice President, a Treasurer and a Clerk. All officers shall be Members of the Association, in good standing. A person may hold more than one office at a time. The Officers shall be elected for a two (2) year term by the Members at the Annual Meeting of Members.
</section>

<section class="page">
<h3 id="section4.4">4.4 Directors Number and Qualifications</h3>
<p>The Members at their Annual Meeting shall fix the number of elected Directors to serve for the following year and shall elect the number of Directors so fixed. All Directors shall be members of the Association in good standing.
<p>The number of Directors shall set at the proportion of at least one member of the Board of Directors for every 20 members.
</section>

<section class="page">
<h3 id="section4.5">4.5 Tenure of Officers and Directors</h3>
<p>Each Officer and elected or appointed Director shall hold office for a term of two (2) years. Said terms shall be staggered so that no more than one-half (<b>&frac12;</b>) of the elected officers will be up for re-election at any given time. The term of any Officer or Director shall terminate if he dies, resigns, ceases to be a Member of the Association, is removed, or disqualified.
<p>Officers and Directors shall be subject to term limits in office as follows.
<p>The President, Vice President and members of the Board of Directors shall serve no more than two (2) consecutive two-year terms (4 years) in the same office, but may be elected to another office.
<p>The Clerk and Treasurer may hold office for four (4) consecutive two-year terms in the same office, but may be elected to another office. No person may be Treasurer for more than eight (8) consecutive years for any reason.
<p>Officers and Directors are eligible for re-election to a previously held office twenty-three (23) months after they leave that office.
</section>

<section class="page">
<h3 id="section4.6">4.6 Vacancies on Board of Directors</h3>
<p>A vacancy in any office on the Board may be filled for the uncompleted term by a qualified Member in good standing, either by appointment by the Board, or by a Special Meeting of Members called to elect a replacement.
</section>

<section class="page">
<h3 id="section4.7">4.7 Suspensions and Removal</h3>
<p>An Officer, or a Director, may be suspended or removed (a) with or without cause by a majority of votes at a Special Meeting of Members called for that purpose, or, (b) with cause by a majority of votes at a Special Meeting of the Board of Directors. An Officer or Director may be removed with cause only after reasonable notice and opportunity to be heard.
</section>

<section class="page">
<h3 id="section4.8">4.8 Resignation</h3>
<p>An Officer or Director may resign his office by delivering his written or electronic resignation to the President, Treasurer or Clerk, a meeting of the Board of Directors, or a Regular or Special Meeting of Members. Such resignation shall be effective upon receipt and acceptance thereof shall not be necessary to make it effective.
</section>

<section class="page">
<h3 id="section4.9">4.9 President</h3>
<p>The President shall be the Chief Executive Officer of the Corporation and, subject to the control of the Board of Directors, shall have general charge and supervision of the affairs of the Corporation. The President, if available, shall preside at all Meetings of Members.
</section>

<section class="page">
<h3 id="section4.10">4.10 Vice President</h3>
<p>The Vice President shall have such duties and powers as the Board of Directors shall determine. He shall have and may exercise all the powers and duties of the President during the absence of the President or in the President's inability to act.
</section>

<section class="page">
<h3 id="section4.11">4.11 Treasurer</h3>
<p>The Treasurer shall be the chief financial officer and the chief accounting officer of the Corporation. He shall be in charge of its financial affairs, funds, securities, and valuable papers and shall keep full and accurate records thereof.
</section>

<section class="page">
<h3 id="section4.12">4.12 Clerk</h3>
<p>The Clerk shall record and maintain records of all proceedings of the Members, the records of membership and of the Board of Directors in a book or series of books kept for that purpose, which book or books shall be open and made available at reasonable times to the inspection by electronic or physical inspection to any Member. Such files, book or books shall contain records of all meetings of Incorporators and the original, or attested copies of the Articles of Organization and Bylaws and the names of all Members, Officers and Directors and the address of each. If facsimiles of such documents are provided by electronic means to the membership for inspection, the Clerk shall be responsible for suitable physical or electronic backup of such records so as to ensure that any ordinary equipment failure shall not damage the records of the Association beyond repair. If the Clerk is absent from any Annual or Special Meeting of Members, or any Meeting of the Board of Directors, a temporary Clerk chosen at the meeting shall exercise the duties of the Clerk at the meeting.
</section>

<section class="page">
<h3 id="section4.3">4.13 Committees</h3>
<p>The Board of Directors may elect or appoint one or more committees and may delegate to any such committee or committees any or all of its powers to transact business on behalf of the Association. Any member in good standing may be a member or officer of any committee.
<p>Unless the Board otherwise designates, committees shall conduct their affairs in the same manner as is provided in these Bylaws for the Board. The members of any committee shall remain in office at the pleasure of the Board.
</section>

<section class="page">
<h3 id="section4.14">4.14 Regular Meetings of the Board of Directors</h3>
<p>Regular meetings of the Board may be held at such places and at such times as the Board may determine.
</section>

<section class="page">
<h3 id="section4.15">4.15 Special Meetings of the Board of Directors</h3>
<p>Special meetings of the Board may be held at any time and at any place when called by the Chairman of the Board (or if there be no such Chairman, the President) or by any two (2) or more Members of the Board.
</section>

<section class="page">
<h3 id="section4.16">4.16 Call and Notice of Meetings of the Board of Directors</h3>

<div class="indent">
<p>(A) Regular Meetings:
<p>No call or notice shall be required for Regular Meetings of the Board, provided that reasonable notice:

<div class="indent">
<p>(i) of the first regular meeting following determination by the Board of the times and places for Regular Meetings shall be given to absent members,
<p>(ii) shall be given as otherwise required by law, the Articles of Organization or these Bylaws.
</div>
</section>

<section class="page">
<p>(B) Special Meetings
<p>Reasonable notice of the time and place of Special Meetings of the Board shall be given to each member. Such notice must specify the purpose of a Meeting if there is to be considered at the Meeting:

<div class="indent">
<p>(i) Contracts or transactions with interested persons,
<p>(ii) Amendments to these Bylaws
<p>(iii) Removal or suspension of an Officer or a Director
</div>
</section>

<section class="page">
<p>(C) Reasonable and Sufficient Notice
<p>Except as otherwise expressly provided, it shall be reasonable and sufficient notice to an Officer or Director to send notice by mail or by verifiable electronic means (e-mail, instant messaging, personal website, etc.) at least seventy-two (72) hours before the meeting to him at his usual or last known business, residence or electronic address or to give notice to him in person or by telephone at least twenty-four (24) hours before the meeting.
</section>

<section class="page">
<h3 id="section4.17">4.17 Quorum</h3>
<p>At any meeting of the Board of Directors, a majority of the elected members of the Board then in office shall constitute a quorum. Any meeting may be adjourned by a majority of the votes cast upon the question, whether or not a quorum is present, and the meeting may be held as adjourned without further notice.
</section>

<section class="page">
<h3 id="section4.18">4.18 Action by Vote</h3>
<p>When a quorum is present at any meeting of the Board of Directors, a majority of the members of the Board present shall decide any question, unless otherwise provided by law, the Articles of Organization, or these Bylaws.
</section>

<section class="page">
<h3 id="section4.19">4.19 Action by Writing</h3>
<p>Any action required or permitted to be taken at any meeting of the Board of Directors may be taken without a meeting if two-thirds (<b>&#8532;</b>) of the members of the Board (Officers and Directors) consent to the action in writing or by verifiable electronic communication and the written consents are filed with the records of the meetings of the Board. Such consents shall be treated for all purposes as a vote at a meeting.
</section>

<section class="page">
<h3 id="section4.20">4.20 Election of Officers and Directors</h3>
<p>The election of Officers and Directors at an Annual Meeting shall be conducted in two stages, with the Officers being elected in the first stage and the Directors in the second stage. Candidates for Office who fail to get elected may, at their option, become automatically candidates for election as Director. There shall be provided ample opportunity for nominations from the floor for all elective offices, but each nomination from the floor shall receive five (5) seconding votes by Members, in good standing, to be accepted as a candidate for election. When only one candidate stands for election as an Officer, election may be by voice vote. When two or more candidates stand for election as an Officer, voting shall be by secret written ballot. If the number of candidates for election as Director equals the number of Directors to be elected election may be by voice vote either individually or as a group as the majority of the Members present may decide. When the number of candidates for election as Director exceeds the number of Directors to be elected, voting shall be by secret written ballot and election will be ranked by the number of votes each candidate receives.
</section>

<section class="page">
<h3 id="section4.21">4.21 Call for a Vote of the Membership</h3>
<p>If anyone present at any meeting believes that an issue requires a broader mandate than those present at the meeting, a motion may be made for a vote of the membership. If sustained by a majority of the members present, the question may be put to a vote of the entire membership. In such cases, a representative for each side of the question shall be chosen, and shall within fifteen (15) days prepare for the clerk a summary describing the issue as presented by each side and calling the membership to vote on the issue. Ballots shall be mailed to the entire membership and the issue decided by a majority of the votes cast or by the President in case of a tie.
</section>

<section class="page">
<h3 id="section5" class="upper">SECTION 5. EXECUTION OF PAPERS</h3>
<p>Except as the Board of Directors may generally or in particular cases authorize the execution in some other manner, all deeds, leases, transfers, contracts, bonds, notes, checks, drafts, and other obligations made, accepted or endorsed by the Corporation shall be signed by the President or the Treasurer.
<p>Any recordable instrument purporting to affect an interest in real estate, executed in the name of the Corporation by two (2) of its Officers, of whom one is the President or the Vice President and the other is the Treasurer or an Assistant Treasurer, shall be binding on the Corporation in favor of the purchaser or other person relying in good faith on such instrument notwithstanding any inconsistent provisions of the Articles of Organization, Bylaws, resolutions or votes of the Corporation.
</section>

<section class="page">
<h3 id="section6" class="upper">SECTION 6. PERSONAL LIABILITY</h3>
<p>The Members, Directors and Officers of the Corporation shall not be personally liable for any debt, liability or obligation of the Corporation. All persons, corporations or other entities extending credit to, contracting with, or having any claim against, the Corporation, may look only to the funds and property of the Corporation for the payment of any such contract or claim, or for the payment of any debt, damages, judgment or decree, or of any money that may otherwise become due or payable to them from the Corporation.
</section>

<section class="page">
<h3 id="section7" class="upper">SECTION 7. AMENDMENTS</h3>
<p>These Bylaws may be altered, amended or repealed in whole or in part by vote of a majority of the Board of Directors then in office, except with respect to any provision thereof, which by law, the Articles of Organization or these Bylaws, requires action by the Members. Not later than the time of giving notice of the Annual or Special Meeting of Members next following the making, amending or repealing by the Board of Directors of any Bylaws, notice thereof stating the substance of such change shall be given to all Members. The Members may alter, amend or repeal any Bylaws adopted by the Board of Directors or otherwise adopt, alter, amend or repeal any provision which by law, the Articles of Organization or these Bylaws, requires action by the Members.
<p>&nbsp;</section>

<h2 id="part3" class="upper newpage">PART 3. STANDING RULES</h2>
<section>
<h3 id="sr1" class="upper">SR-1. APPLICATION FOR MEMBERSHIP</h3>
<p>1. Application for Membership, including reapplication, shall be made in writing. (Bylaw Sec. 2.3)
<p>2. Members who resign with Dues paid to end of current Membership Year, or who resign before January 31 of the Membership Year, will be considered to have resigned in good standing.
<p>3. The name and call sign of applicants seeking membership shall be promulgated to the membership by e-mail, publication in the Association news organ, or read aloud at the next members meeting following the receipt of the application. If there is no objection to the candidate the applicant will be advised of his/her membership by the Clerk or Membership Chairman of the association, effective the date of application.
<p>4. Should objection to any Application to Membership be received, such application shall be considered by the Board. If the application is rejected by vote of the Board, the applicant shall be so notified and [any] dues payment returned. Attention is referred to By-law Section 2.3, which places certain limitations on the denial of admission to membership.
</section>

<section class="page">
<h3 id="sr2" class="upper">SR-2. MEMBERSHIP CATEGORIES AND DUES</h3>
<p>1. Membership categories and dues shall be set by a vote of the Members at the October meeting of members, or at a Special Meeting, but must be set in accordance with Sections 2.1, 2.2 of the <a href="#section2" title="Click for PART2. BYLAWS">bylaws</a> and must not violate by either design or effect Section 2.3 (Anti-discrimination section) by imposing any markedly disproportionate financial burden on any protected group.
</section>

<section class="page">
<h3 id="sr3" class="upper">SR-3 DUES, BILLING AND COLLECTION</h3>
<p>1. The Clerk shall issue Invoices of Annual Dues at least 30 days before the end of the current membership year (December 31st).
<p>2. All Dues invoiced on less than an annual basis shall be prorated monthly, except for Annual Dues of $5.00 or less, which shall not be prorated.
<p>3. The Clerk shall send each new Member, within ten (10) days following final approval for Membership, a letter or electronic communication of notification and welcome, and an invoice for Dues prorated, if appropriate, for the remainder of the then current year and beginning at the first day of the next month following the date of final acceptance. As appropriate, such letter shall include a copy or facsimile of Parts 1, 2, and 3 of the Constitution and the current Membership List or direct the member to the location of such information.
<p>4. <strong>Members who have not paid their annual dues</strong> may be dropped from membership for non-payment of Dues, when in arrears more than 60 days, after a good-faith attempt at notification of non-payment, unless they request, as provided in paragraph 5 following, the waiving of said Dues or to make provision for a later or reduced payment.
<p>5. Members who wish to have their Dues waived, delayed, or reduced for the current year shall so advise a member of the Board of Directors, preferably in writing, and the latter shall in confidence, transmit the information with his recommendation to the Board of Directors at the next meeting of the Board. The Board shall take such action as it deems appropriate, and the member of the Board conveying the request shall so advise the Member.
<p>6. Members receiving an initial invoice for Annual Dues, who wish to resign in good standing and avoid payment of such Dues, may do so by so noting on the invoice and returning it to the Treasurer in a timely manner before the due date of the invoice. Members failing to so notify the Association shall be liable for the entire amount on the invoice. The above notice of Resignation shall have the same weight as the notice required in Bylaw Section 2.8 Resignation.
<p>Existing life members who are not subject to paying annual dues may never be compelled to do so by the Board of Directors or the membership.
</section>

<section class="page">
<h3 id="sr4" class="upper">SR-4 FINANCIAL CONTROLS</h3>
<p>1. As a first order of business each newly elected Board of Directors shall prepare and adopt a Budget of Estimated Receipts and Disbursements for the next year. Such Budget shall be presented to the Membership, at the October Meeting of Members, for its review and action.
<p>2. All expenditures relating to the operation, maintenance, and repair of the Clubhouse shall be the responsibility of the House Committee.
<p>3. All expenditures relating to the procurement, operation, maintenance, and repair of the repeater[s] shall be the responsibility of the Repeater Committee.
</section>

<section class="page">
<h3 id="sr5" class="upper">SR-5 LICENSEE/TRUSTEE OF REPEATER</h3>
<p>1. Each station owned and operated by the Association shall have the call sign of the Cape Ann Amateur Radio Association.
<p>2. The Club Call Sign Trustee, as defined by current FCC regulations, shall be appointed by the Board of Directors, shall serve at the pleasure of the Board, and may be removed from office by a vote of the Board.
<p>3. Unless dismissed for cause, a Trustee shall give thirty (30) days notice, in writing, of his intent to resign from office.
<p>4. Only Members in good standing may serve as Trustees.
<p>5. A Trustee shall review all rules promulgated by the Association for the operation and use of any club station, and no rule, or use, shall be permitted without the Trustee's approval.
<p>6. When the position of Trustee is vacant, all club stations shall be shut down until a replacement Trustee is appointed, has accepted the office and approves the operation of the stations.
<p>7. Within the power of the Association, a Trustee shall not be subject to financial loss as the result of improper operation of the stations of which he is Trustee.
</section>

<section class="page">
<h3 id="sr6" class="upper">SR-6 AMENDMENTS</h3>
<p>1. The Standing Rules may be revised only at the Annual Meeting of Members or at a Special Meeting of Members. Any changes or additions proposed by a Member should be put in writing and submitted to the Board of Directors sixty (60) days before the Annual Meeting.
<p>2. Changes or additions to the Standing Rules shall be by an affirmative vote of two-thirds (<b>&#8532;</b>) of a Quorum present including valid proxies.
<p>3. The clerk of <span class="upper">CAARA</span> shall serve as judge of any vote, and their opinion on the validity of any motion, vote, proxy or other action taken at a meeting shall be final.
<p>This Constitution was voted on and approved by the membership during the Constitutional Convention that was held on September 15<sup>th</sup> 2010.
</section>
</div>
